/* Folha de Estilo para a resposta do teste 2 */ 

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 50%;
    background: #434343;
    height: 75px;
    border-radius: 10px;
}

#featured {
    width: 100%;
    height: 175px;
    background: #005685;
    border-radius: 10px;
    margin: 30px auto;
}

#posts .post {
    width: 30%;   
    display: inline-block;
}

.post:nth-child(3n+2) {
    margin: 0 4.5%;
}


.img-post {
    height: 100px;
    background: red;
    border-radius: 10px;
}

.txt-post {
    margin: 10px 0;
}

/* Cores */ 

.blue {
    background: #00B5F2;
}

.green {
    background: #44B400;
}

.orange {
    background: #FF9100;
}


/* Mobile 460 */

@media only screen and (max-width: 460px) {
    .container {
        padding: 0 5%;
    }
    header {
        width: 100%;
    }
    
    #posts .post {
        width: 100%;
        margin: 0 auto 30px;
    }
    
    .txt-post {
        display: none;
    }
    

}